.w_selectbox{padding: 10px 0}
.w_box_pull{display: inline-block;position: relative;cursor: pointer}
.w_text_pull{height:48px;line-height:48px;padding:0  16px;width: 186px;border: 1px solid #ebebeb;display: inline-block;background: url(../images/pull-icon.png) #f9f9f9 no-repeat 95% center;font-size: 14px;color: #0099ff;font-weight: bold}
.w_sel_uls{border: 1px solid #ebebeb;border-top: 0;border-bottom: 0;position: absolute;left: 0;width: 100%;background: #f9f9f9;display: none;box-sizing: border-box;z-index: 100;}
.w_sel_uls li{border-bottom: 1px solid #ebebeb;padding-left: 16px;line-height: 40px;cursor: pointer;font-weight: bold}
.w_sel_uls li.curr{background: #edeff2 url(../images/right-icon.png)  no-repeat 95% center;color: #0099ff}
.w_sel_uls li:hover{background: #edeff2 ;color: #0099ff}
.w_sel_uls li.curr a,.w_sel_uls li:hover a{color: #0099ff}